# Ambientes virtuais 
.venv/
venv/
env/

# Arquivos de dados 
*.csv
*.xlsx
*.sqlite3
*.db
dados_es_filtrados.csv

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Configurações locais (senhas, chaves de API)
.env

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
